*{
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
}

.register-form,.connect-form {
	display: none;
}

.error-warning,.good-msg {
	background: #F07057;
	color: #F2F2E8;
}

.paddingTen {
	padding: 10px;
}

.pointer {
	cursor: pointer;
}

.name {
	font-weight: bold;
}

h1 {
	font-family: 'Lilita One', serif;
}